<div id="newForm">

	<h1>Editing firm</h1>

	<% form_for(@firm) do |f| %>
		<fieldset class="inlineLabels">
	
	  <%= f.error_messages %>

	  <div class="ctrlHolder">
	    <%= f.label :title %>
	    <%= f.text_field :title %>
	  </div>
	  <div class="ctrlHolder">
	    <%= f.label :information %>
	    <%= f.text_area :information, :class => 'wysiwyg' %>
	  </div>
	  <div class="buttonHolder">
	    <%= f.submit 'Update' %>
	  </div>
	
		</fieldset>
	<% end %>

	<%= link_to 'Back', firm_list_path %>

</div>
