<h1>Editing firm</h1>

<% form_for(@firm) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :information %><br />
    <%= f.text_area :information %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @firm %> |
<%= link_to 'Back', firms_path %>