<div id="tableDiv">
	<h1>Manage Firm Information</h1>

	<table>
	  <tr>
	    <th>Title</th>
	    <th>Information</th>
			<th class="adminCol">Edit</th>
			<th class="adminCol">Destroy</th>
	  </tr>

	<% @firms.each do |firm| %>
	  <tr>
	    <td><%=h firm.title %></td>
	    <td><%= firm.information %></td>
	    <td class="adminCol"><%= link_to 'Edit', edit_firm_path(firm) %></td>
	    <td class="adminCol"><%= link_to 'Destroy', firm, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

</div>

<div id="bodyTextFooter">
	<div id="bodyTextFooterLeft">
		<%= link_to '+ Add more firm information', new_firm_path %></span>
	</div>
	<div id="bodyTextFooterRight">
		<%= link_to 'Back to Admin', admin_url %> |
		<%= link_to 'Logout', logout_path %>
	</div>
</div>

<div style="clear:both"></div>

