<h1>Listing firms</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Information</th>
  </tr>

<% @firms.each do |firm| %>
  <tr>
    <td><%=h firm.title %></td>
    <td><%=h firm.information %></td>
    <td><%= link_to 'Show', firm %></td>
    <td><%= link_to 'Edit', edit_firm_path(firm) %></td>
    <td><%= link_to 'Destroy', firm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New firm', new_firm_path %>