<div id="logoDiv" >
	<%= image_tag "kh-logo-header.png" %>
</div>

<%= render :partial => "navmenu" %>

<div id="imageDiv">
	<div class="imageRow">
		<div class="imageColLeft">
			<%= image_tag "external.jpg" %>
		</div>
		<div class="imageColRight">
			<%= image_tag "image2.gif" %>
		</div>
	</div>
	<div class="imageRow">
		<div class="imageColLeft">
			<%= image_tag "image3.gif" %>
		</div>
		<div class="imageColMiddle">
			<%= image_tag "image4.gif" %>
		</div>
		<div class="imageColRight">
			<%= image_tag "image5.gif" %>
		</div>
	</div>
</div>

<div id="footerDiv">
	<div id="footerTextLeft">
		&copy; 2010 Kozyra & Hartz, LLC
	</div>
	<div id="footerTextRight">
		<%= link_to "home", root_url %>
	</div>
</div>