<div id="logoDiv" >
	<%= image_tag "kh-logo.png" %>
	<%= link_to "The Firm", thefirm_url %>&nbsp;&nbsp;<%= image_tag "spacer_bullet.png" %>&nbsp;&nbsp;
	<%= link_to "Attorneys", attorneys_url %>&nbsp;&nbsp;<%= image_tag "spacer_bullet.png" %>&nbsp;&nbsp;
	<%= link_to "News", news_entries_url %>&nbsp;&nbsp;<%= image_tag "spacer_bullet.png" %>&nbsp;&nbsp;
	<%= link_to "Contact", contact_url %>
</div>