<div id="logoDiv" >
	<%= image_tag "kh-logo-header.png" %>
</div>

<%= render :partial => "navmenu",  :locals => {:attorneys => @attorneys_nav, :firms => @firms_nav, :practice_areas => @practice_areas_nav} %>

<div id="imageDiv">
	<div class="imageRow">
		<div class="imageColLeft">
			<%= image_tag "external.jpg" %>
		</div>
		<div class="imageColRight">
			<%= image_tag "conf1.jpg" %>
		</div>
	</div>
	<div class="imageRow">
		<div class="imageColLeft">
			<%= image_tag "conf2.jpg" %>
		</div>
		<div class="imageColMiddle">
			<%= image_tag "conf3.jpg" %>
		</div>
		<div class="imageColRight">
			<%= image_tag "waiting_room.jpg" %>
		</div>
	</div>
</div>
