<div id="attorney">
	<h2><%= @attorney.name %></h2>
		<div id="attorneyPicture">
	<% unless @attorney.photo.url(:normal) == "/photos/normal/missing.png" %>
  		<%= image_tag @attorney.photo.url(:normal) %>
	<% end %>
	</div>
	<div id="attorneyBio">
		<p><%= @attorney.role %></p>
		<p><%= mail_to @attorney.email, @attorney.email, :class => 'email' %></p>
		<br />
	</div>
	<p><%= @attorney.biography %></p>
	
</div>