<h2><%= @attorney.name %></h2>

<p><%= @attorney.role %></p>
<p><%= mail_to @attorney.email, @attorney.email, :class => 'email' %></p>


<p>
  <%= image_tag @attorney.photo.url(:normal) %>
</p>

<div id="attorneyBio">
  <%= @attorney.biography %>
</div>
