<div id="tableDiv">
	<h1>Manage Users</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Email</th>
			<th class="adminCol">Edit</th>
			<th class="adminCol">Destroy</th>
	  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%=h user.name %></td>
	    <td><%=h user.email %></td>
	    <td class="adminCol"><%= link_to 'Edit', edit_admin_user_path(user) %></td>
	    <td class="adminCol"><%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

</div>

<span id="bodyTextFooterLeft">
	<%= link_to '+ Add a new user', new_admin_user_path %>
</span>
<span id="bodyTextFooterRight">
	<%= link_to 'Back to Admin', admin_url %> |
	<%= link_to 'Logout', logout_path %>
</span>