<div id="newForm">

	<h1>Editing Practice Area</h1>

	<% form_for(@practice_area) do |f| %>
		<fieldset class="inlineLabels">
		  <%= f.error_messages %>
		
		  <div class="ctrlHolder">
		    <%= f.label :name %>
		    <%= f.text_field :name %>
		  </div>
	
		  <div class="ctrlHolder">
		    <%= f.label :information %>
		    <%= f.text_area :information, :class => 'wysiwyg' %>
		  </div>
		  <div class="buttonHolder">
		    <%= f.submit 'Update' %>
		  </div>
		</fieldset>
	<% end %>

	<%= link_to 'Back', practice_areas_list_path %>

</div>

