<h1>Editing practice_area</h1>

<% form_for(@practice_area) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :information %><br />
    <%= f.text_area :information %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @practice_area %> |
<%= link_to 'Back', practice_areas_path %>