<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title>Kozyra &amp; Hartz, LLC</title>
	<%= stylesheet_link_tag "kh-general" %>
	<%= javascript_include_tag "dropdown" %>
	
</head>

<body>

	<div id="wrapper">
		<div id="logoDiv">
			<%= link_to image_tag("kh-logo-small.png", :border => 0), root_url %>
		</div>
		<div id="navRow">
			<div id="fillerCell">
			</div>
			<div id="nav">
				<%= render :partial => 'shared/nav', :locals => {:attorneys => @attorneys_nav, :firms => @firms_nav, :practice_areas => @practice_areas_nav} %>
			</div>
		</div>
		
		<div id="mainDiv">
			<div id="subnavCol">
				<% if @controller.controller_name == "attorneys" %>
					<h3>Attorneys</h3>
					<ul>
					<% @attorneys_nav.each do |attorney| %>
						<li><%= link_to attorney.name, attorney_url(attorney.short_name)%></li>
					<% end %>
					</ul>
				<% elsif @controller.controller_name == "firms"%>
					<h3>Firm</h3>
					<ul>
					<% @firms_nav.each do |firm| %>
						<li><%= link_to firm.title, firm_url(firm.url)%></li>
					<% end %>
					</ul>				
				<% elsif @controller.controller_name == "practice_areas" %>
					<h3>Practice Areas</h3>
					<ul>
					<% @practice_areas_nav.each do |practice_area| %>
						<li><%= link_to practice_area.name, practice_area_url(practice_area.url)%></li>
					<% end %>
					</ul>			
				<% end %>
			</div>
			<div id="mainCol">
				<div id="bodyText">
					<%= yield%>
				</div>
			</div>
		</div>
	</div>

	<div id="footer">
		<div id="footerTextLeft">
			&copy; 2010 Kozyra &amp; Hartz, LLC
		</div>
		<div id="footerTextRight">
			<%= link_to "home", root_url %>&nbsp;:
			<%= link_to "site map", root_url %>&nbsp;:
			<%= link_to "credits", credits_url %>
		</div>
	</div>
</body>
</html>