<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title>Kozyra &amp; Hartz, LLC</title>
	<%= stylesheet_link_tag "kh-homepage" %>
	<%= javascript_include_tag "dropdown" %>
	
</head>

<body>
	<div id="wrapper">
		<div id="homepageContainer">
			<!-- only render this div if there's something to show -->
			<% if flash[:warning] or flash[:notice] %>
			  <div id="flash">
					<h3><%= flash[:notice] %></h3>
				</div>
			<% end %>
		
			<%= yield %>
			
			<div id="footerDiv">
				<div id="footerTextLeft">
					&copy; 2010 Kozyra &amp; Hartz, LLC
				</div>
				<div id="footerTextRight">
					<%= link_to "home", root_url %>&nbsp;:
					<%= link_to "site map", root_url %>&nbsp;:
					<%= link_to "credits", credits_url %>
				</div>
			</div>

		</div>
		<div id="shadow">
			<%= image_tag "shadow-bottom.gif" %>
		</div>
		
	</div>
</body>
</html>