<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="favicon.ico" />
	<title>Kozyra &amp; Hartz, LLC</title>
	<%= stylesheet_link_tag "kh-homepage" %>
	<%= javascript_include_tag "dropdown" %>
	
</head>

<body>
	<div id="wrapper">
		<div id="homepageContainer">

			<%= yield %>
			
			<div id="footerDiv">
				<div id="footerTextLeft">
					&copy; 2012 Kozyra &amp; Hartz, LLC
				</div>
				<div id="footerTextRight">
					<%= link_to "home", root_url %>&nbsp;:
					<%= link_to "credits", credits_url %>&nbsp;:
					<%= link_to "contact", contact_url %>&nbsp;:
					<%= link_to "driving directions", "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=75+eisenhower+parkway&sll=37.0625,-95.677068&sspn=36.726391,79.013672&ie=UTF8&hq=&hnear=75+Eisenhower+Pkwy,+Roseland,+Essex,+New+Jersey+07068&ll=40.823552,-74.326372&spn=0.008573,0.01929&z=16&iwloc=A&iwstate1=dir" %>
				</div>
			</div>

		</div>
		<div id="shadow">
			<%= image_tag "shadow-bottom.gif" %>
		</div>
		
	</div>
</body>
</html>