<div id="newForm">

<h1>New News Entry</h1>

<% form_for(@news_entry) do |f| %>
	<fieldset class="inlineLabels">
		
	  <%= f.error_messages %>

	  <div class="ctrlHolder">
	    <%= f.label :title %>
	    <%= f.text_field :title %>
	  </div>
		<div class="ctrlHolder">
	    <%= f.label :date %>
	    <%= f.date_select :date, :order => [:month, :day, :year] %>
	  </div>
	  <div class="ctrlHolder">
	    <%= f.label :entry %>
	    <%= f.text_area :entry, :class => 'wysiwyg' %>
	  </div>
	  <div class="buttonHolder">
	    <%= f.submit 'Create' %>
	  </div>

	</fieldset>
<% end %>

<%= link_to 'Back', news_entries_path %>

</div>