<div id="tableDiv">
	
	<h1>Manage News Entries</h1>

	<table>
	  <tr>
	    <th>Title</th>
			<th>Date</th>
	    <th>Entry</th>
			<th class="adminCol">Edit</th>
			<th class="adminCol">Destroy</th>
	  </tr>

	<% @news_entries.each do |news_entry| %>
	  <tr>
	    <td><%=h news_entry.title %></td>
			<td><%= news_entry.date_string %></td>
	    <td><%= news_entry.entry %></td>
	    <td class="adminCol"><%= link_to 'Edit', edit_news_entry_path(news_entry) %></td>
	    <td class="adminCol"><%= link_to 'Destroy', news_entry, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

</div>

<div id="bodyTextFooter">
	<div id="bodyTextFooterLeft">
		<%= link_to '+ Add a News Entry', new_news_entry_path %>
	</div>
	<div id="bodyTextFooterRight">
		<%= link_to 'Back to Admin', admin_url %> |
		<%= link_to 'Logout', logout_path %>
	</div>
</div>

<div style="clear:both"></div>
